In [1]:
import pandas as pd
import numpy as np
from random import randint

In [2]:
df = pd.DataFrame(columns=['userid','age','gender(M-0 F-1)','weight','height'])
df['userid'] = np.array([i for i in range(1,201)])
df['age'] = np.array([randint(14,60) for i in range(1,201)])
df['gender(M-0 F-1)']=np.array([randint(0,1) for i in range(1,201)])
df['weight']=np.array([randint(45,80) for i in range(1,201)])
df['height']=np.array([randint(155,188) for i in range(1,201)])

df.head()

   userid  age  gender(M-0 F-1)  weight  height
0       1   56                1      66     162
1       2   53                0      71     157
2       3   17                1      63     155
3       4   49                0      62     186
4       5   45                0      73     186

In [3]:
weekdata = pd.DataFrame(columns=['userid','average steps','average distance'])
weekdata['userid']= np.array([i for i in range(1,201)])
weekdata['average distance']= np.array([randint(0,10) for i in range(1,201)])
weekdata['average steps']= np.array([randint(1000*weekdata['average distance'][i],1000*(weekdata['average distance'][i]+1)) for i in range(200)])
weekdata.head()

   userid  average steps  average distance
0       1           6325                 6
1       2            255                 0
2       3          10487                10
3       4           4316                 4
4       5           5820                 5

In [4]:
todaydata= pd.DataFrame(columns=['userid','steps','distance'])
todaydata['userid']= np.array([i for i in range(1,201)])
todaydata['distance']= np.array([randint(0,10) for i in range(1,201)])

todaydata['steps']= np.array([randint(1000*todaydata['distance'][i],1000*(todaydata['distance'][i]+1)) for i in range(200)])
todaydata.head()

   userid  steps  distance
0       1   9542         9
1       2   8947         8
2       3   3340         3
3       4   5930         5
4       5   5483         5

In [5]:
outputdf=pd.DataFrame()
outputdf['userid']= np.array([i for i in range(1,201)])
outputdf['age'] =df['age'] 
outputdf['gender']=df['gender(M-0 F-1)']
outputdf['weight']=df['weight']
outputdf['height']=df['height']
outputdf['average distance']=weekdata['average distance']
outputdf['average steps']=weekdata['average steps']
outputdf['distance']=todaydata['distance']
outputdf['steps']=todaydata['steps']
outputdf.head()

,userid,age,gender,weight,height,average distance,average steps,distance,steps
0,1,56,1,66,162,6,6325,9,9542
1,2,53,0,71,157,0,255,8,8947
2,3,17,1,63,155,10,10487,3,3340
3,4,49,0,62,186,4,4316,5,5930
4,5,45,0,73,186,5,5820,5,5483

In [6]:
outputdf['minhrs']=0
outputdf['maxhrs']=0

In [7]:
for i in range(200):
    if(outputdf['age'][i]>=12 and outputdf['age'][i]<=17):
        if(outputdf['steps'][i]<1000):
            outputdf['minhrs'][i]=7+outputdf['gender'][i]
            outputdf['maxhrs'][i]=8+outputdf['gender'][i]
        elif(outputdf['steps'][i]>=1000 and outputdf['steps'][i]<4000):
            outputdf['minhrs'][i]=7+outputdf['gender'][i]
            outputdf['maxhrs'][i]=9+outputdf['gender'][i]
        else:
            outputdf['minhrs'][i]=7+outputdf['gender'][i]
            outputdf['maxhrs'][i]=9.5+outputdf['gender'][i]    
    
    elif(outputdf['age'][i]>=18 and outputdf['age'][i]<=25):
        if(outputdf['steps'][i]<1000):
            outputdf['minhrs'][i]=6+outputdf['gender'][i]
            outputdf['maxhrs'][i]=8+outputdf['gender'][i]
        elif(outputdf['steps'][i]>=1000 and outputdf['steps'][i]<4000):
            outputdf['minhrs'][i]=7+outputdf['gender'][i]
            outputdf['maxhrs'][i]=8+outputdf['gender'][i]
        else:
            outputdf['minhrs'][i]=7+outputdf['gender'][i]
            outputdf['maxhrs'][i]=8.5+outputdf['gender'][i]
      
    elif(outputdf['age'][i]>=26 and outputdf['age'][i]<=64):
        if(outputdf['steps'][i]<1000):
            outputdf['minhrs'][i]=7+outputdf['gender'][i]
            outputdf['maxhrs'][i]=8+outputdf['gender'][i]
        elif(outputdf['steps'][i]>=1000 and outputdf['steps'][i]<4000):
            outputdf['minhrs'][i]=7+outputdf['gender'][i]
            outputdf['maxhrs'][i]=9+outputdf['gender'][i]
        else:
            outputdf['minhrs'][i]=8+outputdf['gender'][i]
            outputdf['maxhrs'][i]=9+outputdf['gender'][i]
              
    else:
        if(outputdf['steps'][i]<1000):
            outputdf['minhrs'][i]=7+outputdf['gender'][i]
            outputdf['maxhrs'][i]=8+outputdf['gender'][i]
        elif(outputdf['steps'][i]>=1000 and outputdf['steps'][i]<4000):
            outputdf['minhrs'][i]=7+outputdf['gender'][i]
            outputdf['maxhrs'][i]=9+outputdf['gender'][i]
        else:
            outputdf['minhrs'][i]=7+outputdf['gender'][i]
            outputdf['maxhrs'][i]=9+outputdf['gender'][i]

In [8]:
outputdf['BMI']=(outputdf['weight']*10000)//(outputdf['height']*outputdf['height'])
# Underweight: Your BMI is less than 18.5
# Healthy weight: Your BMI is 18.5 to 24.9
# Overweight: Your BMI is 25 to 29.9
# Obese: Your BMI is 30 or higher

In [9]:
API_KEY="5fvgZl5e1W3xW6UsQ0RLtBIHfpcvedPmsBrx7Xs"
from usda_ndb_client.client import Client

In [10]:
dietplans={1:"Flexible Dieting",2:"5:2 Diet",3:"Zone Diet",4:"Atkins Diet",5:"Classic Bodybuilding Diet"}

In [11]:
aboutdiet=["Flexible dieting is our recommended diet plan for the majority of people. Many alternative diets are very prescriptive, with very rigid rules and little compatibility with people’s tastes and preferences. There are some rules of course but as the name suggests, the rules are nowhere near as rigid as other diets tend to be. Flexible dieting opens up people’s choices as there is little emphasis on making people only eat certain types of food (although eating a variety of foods and vegetables is encouraged). The diet is essentially based on establishing a daily calorie target (the most important factor in weight control) and slightly looser target ranges for Protein, Carbohydrates and Fats whilst still allowing you to eat the foods you enjoy.   Flexible dieting is ideal for anyone who struggles to stick to a rigid diet because of lifestyle factors or food preferences. Can be the perfect approach to achieve any goal, whether to lose weight, gain weight or build muscle. However, flexible dieting might not work for those who need more structure or prefer adhering to a strict diet. Also, this may not be the best diet for those looking for rapid weight loss.",
          
          
          ]

In [12]:
aboutdiet[0]

'Flexible dieting is our recommended diet plan for the majority of people. Many alternative diets are very prescriptive, with very rigid rules and little compatibility with people’s tastes and preferences. There are some rules of course but as the name suggests, the rules are nowhere near as rigid as other diets tend to be. Flexible dieting opens up people’s choices as there is little emphasis on making people only eat certain types of food (although eating a variety of foods and vegetables is encouraged). The diet is essentially based on establishing a daily calorie target (the most important factor in weight control) and slightly looser target ranges for Protein, Carbohydrates and Fats whilst still allowing you to eat the foods you enjoy.   Flexible dieting is ideal for anyone who struggles to stick to a rigid diet because of lifestyle factors or food preferences. Can be the perfect approach to achieve any goal, whether to lose weight, gain weight or build muscle. However, flexible dieting might not work for those who need more structure or prefer adhering to a strict diet. Also, this may not be the best diet for those looking for rapid weight loss.'

In [13]:

import pytest
import requests
import json
from usda_ndb_client.client import Client
from mock import patch, Mock
from usda_ndb_client.errors import ApiError


class TestClient:
    BASE_URL = 'https://api.nal.usda.gov/ndb'

    @pytest.fixture(scope="module")
    def client(self):
        return Client(API_KEY)

    @pytest.fixture(scope="module")
    def error_response(self):
        text = '{"error": {"message": "whoops!"}}'

        return Mock(
          text=text,
          status_code=400,
          json=lambda: json.loads(text)
        )

    @pytest.fixture(scope="module")
    def sample_response(self):
        text = '{"key1": "value1", "key2": "value2"}'

        return Mock(
          text=text,
          status_code=200,
          json=lambda: json.loads(text)
        )

    def test_food_report(self, client, sample_response):
        with patch('requests.get', return_value=sample_response) as api_call:
            res = client.food_report(ndbno='01009')

            api_call.assert_called_once_with(
                '{0}/{1}'.format(self.BASE_URL, 'V2/reports'),
                params={
                    'format': 'json', 'ndbno': '01009', 'api_key': API_KEY
                }
            )

            assert len(res.__dict__) == 2
            assert res.key1 == 'value1'
            assert res.key2 == 'value2'

    def test_list(self, client, sample_response):
        with patch('requests.get', return_value=sample_response) as api_call:
            res = client.list(offset=50)

            api_call.assert_called_once_with(
                '{0}/{1}'.format(self.BASE_URL, 'list'),
                params={
                    'format': 'json', 'offset': 50, 'api_key': API_KEY
                }
            )

            assert len(res.__dict__) == 2
            assert res.key1 == 'value1'
            assert res.key2 == 'value2'

    def test_nutrients(self, client, sample_response):
        with patch('requests.get', return_value=sample_response) as api_call:
            res = client.nutrients(nutrients='010000')

            api_call.assert_called_once_with(
                '{0}/{1}'.format(self.BASE_URL, 'nutrients'),
                params={
                    'format': 'json', 'nutrients': '010000',
                    'api_key': API_KEY
                }
            )

            assert len(res.__dict__) == 2
            assert res.key1 == 'value1'
            assert res.key2 == 'value2'

    def test_search(self, client, sample_response):
        with patch('requests.get', return_value=sample_response) as api_call:
            res = client.search(q='butter')

            api_call.assert_called_once_with(
                '{0}/{1}'.format(self.BASE_URL, 'search'),
                params={
                    'format': 'json', 'q': 'butter',
                    'api_key': API_KEY
                }
            )

            assert len(res.__dict__) == 2
            assert res.key1 == 'value1'
            assert res.key2 == 'value2'

    def test_api_error(self, client, error_response):
        with patch('requests.get', return_value=error_response) as api_call:
            with pytest.raises(ApiError):
                client.search(q='butter')

In [57]:
client = Client(API_KEY)
data = client.food_report(ndbno='14215')
print(data.foods[0].food.desc.name)

Beverages, coffee, instant, regular, prepared with water

In [58]:
data.__dict__

{'api': 2.0,
 'count': 1,
 'foods': [<usda_ndb_client.odict.ODict at 0x10e256dd8>],
 'notfound': 0}

In [59]:
data.foods[0].food.nutrients[2].__dict__

{'derivation': 'RPI',
 'group': 'Proximates',
 'measures': [<usda_ndb_client.odict.ODict at 0x10d8cf630>,
  <usda_ndb_client.odict.ODict at 0x10d8cf518>],
 'name': 'Protein',
 'nutrient_id': '203',
 'unit': 'g',
 'value': '0.10'}

In [60]:
data.foods[0].__dict__

{'food': <usda_ndb_client.odict.ODict at 0x10e256da0>}

In [61]:
data.foods[0].food.desc.__dict__

{'ds': 'Standard Reference',
 'manu': '',
 'name': 'Beverages, coffee, instant, regular, prepared with water',
 'ndbno': '14215',
 'ru': 'g'}

In [62]:
d1 = client.list(offset=50)

In [63]:
d1.list.item[0].__dict__

{'id': '45368553',
 'name': '""BACN,BITS,FC,FINE,FL,2/5#"", PREPARED, GTIN: 10070247172881',
 'offset': 50}

In [64]:
d1.list.__dict__

{'end': 50,
 'item': [<usda_ndb_client.odict.ODict at 0x10e238a58>,
  <usda_ndb_client.odict.ODict at 0x10e238cf8>,
  <usda_ndb_client.odict.ODict at 0x10e238400>,
  <usda_ndb_client.odict.ODict at 0x10e2382e8>,
  <usda_ndb_client.odict.ODict at 0x10e233da0>,
  <usda_ndb_client.odict.ODict at 0x10e233fd0>,
  <usda_ndb_client.odict.ODict at 0x10e21a470>,
  <usda_ndb_client.odict.ODict at 0x10e21a400>,
  <usda_ndb_client.odict.ODict at 0x10e21a5c0>,
  <usda_ndb_client.odict.ODict at 0x10e21ac18>,
  <usda_ndb_client.odict.ODict at 0x10e21a9e8>,
  <usda_ndb_client.odict.ODict at 0x10e21aac8>,
  <usda_ndb_client.odict.ODict at 0x10e24b198>,
  <usda_ndb_client.odict.ODict at 0x10e24b208>,
  <usda_ndb_client.odict.ODict at 0x10e24b240>,
  <usda_ndb_client.odict.ODict at 0x10e24b278>,
  <usda_ndb_client.odict.ODict at 0x10e24b2b0>,
  <usda_ndb_client.odict.ODict at 0x10e24b2e8>,
  <usda_ndb_client.odict.ODict at 0x10e24b320>,
  <usda_ndb_client.odict.ODict at 0x10e24b358>,
  <usda_ndb_client.odict.ODict at 0x10e24b390>,
  <usda_ndb_client.odict.ODict at 0x10e24b3c8>,
  <usda_ndb_client.odict.ODict at 0x10e24b400>,
  <usda_ndb_client.odict.ODict at 0x10e24b438>,
  <usda_ndb_client.odict.ODict at 0x10e24b470>,
  <usda_ndb_client.odict.ODict at 0x10e24b4a8>,
  <usda_ndb_client.odict.ODict at 0x10e24b4e0>,
  <usda_ndb_client.odict.ODict at 0x10e24b518>,
  <usda_ndb_client.odict.ODict at 0x10e24b550>,
  <usda_ndb_client.odict.ODict at 0x10e24b588>,
  <usda_ndb_client.odict.ODict at 0x10e24b5c0>,
  <usda_ndb_client.odict.ODict at 0x10e24b5f8>,
  <usda_ndb_client.odict.ODict at 0x10e24b630>,
  <usda_ndb_client.odict.ODict at 0x10e24b668>,
  <usda_ndb_client.odict.ODict at 0x10e24b6a0>,
  <usda_ndb_client.odict.ODict at 0x10e24b6d8>,
  <usda_ndb_client.odict.ODict at 0x10e24b710>,
  <usda_ndb_client.odict.ODict at 0x10e24b748>,
  <usda_ndb_client.odict.ODict at 0x10e24b780>,
  <usda_ndb_client.odict.ODict at 0x10e24b7b8>,
  <usda_ndb_client.odict.ODict at 0x10e24b7f0>,
  <usda_ndb_client.odict.ODict at 0x10e24b828>,
  <usda_ndb_client.odict.ODict at 0x10e24b860>,
  <usda_ndb_client.odict.ODict at 0x10e24b898>,
  <usda_ndb_client.odict.ODict at 0x10e24b8d0>,
  <usda_ndb_client.odict.ODict at 0x10e24b908>,
  <usda_ndb_client.odict.ODict at 0x10e24b940>,
  <usda_ndb_client.odict.ODict at 0x10e24b978>,
  <usda_ndb_client.odict.ODict at 0x10e24b9b0>,
  <usda_ndb_client.odict.ODict at 0x10e24b9e8>],
 'lt': 'f',
 'sort': 'n',
 'sr': '1',
 'start': 50,
 'total': 50}

In [65]:
res1 = client.search(q='coffee, instant, regular, prepared with water')

In [66]:
res1.list.item[0].__dict__

{'ds': 'SR',
 'group': 'Beverages',
 'manu': 'none',
 'name': 'Beverages, coffee, instant, regular, prepared with water',
 'ndbno': '14215',
 'offset': 0}

In [67]:
res1.list.__dict__

{'ds': 'any',
 'end': 2,
 'group': '',
 'item': [<usda_ndb_client.odict.ODict at 0x10d9d4d68>,
  <usda_ndb_client.odict.ODict at 0x10d9d4fd0>],
 'q': 'coffee, instant, regular, prepared with water',
 'sort': 'r',
 'sr': '1',
 'start': 0,
 'total': 2}

In [68]:
d2 = client.nutrients(nutrients='255')

In [69]:
d2.report.foods[0].__dict__

{'measure': '0.5 cup',
 'name': 'Abiyuch, raw',
 'ndbno': '09427',
 'nutrients': [<usda_ndb_client.odict.ODict at 0x10d9e01d0>],
 'weight': 114.0}

In [70]:
for i in range(1):
    print(d2.report.foods[0].nutrients[i].__dict__)
# d2.report.foods[0].nutrients[0].__dict__

{'nutrient_id': '255', 'nutrient': 'Water', 'unit': 'g', 'value': '91.09', 'gm': 79.9}

In [71]:
aa=client.search(q='pav bhaji')

In [72]:
aa.list.item[0].__dict__

{'ds': 'LI',
 'group': 'Branded Food Products Database',
 'manu': 'none',
 'name': 'KITCHENS OF INDIA, MASHED VEGETABLE CURRY, PAV BHAJI, UPC: 841905010714',
 'ndbno': '45238355',
 'offset': 0}

In [1]:
aa.list.item[0].nbdno

In [ ]:
data = client.food_report(ndbno='45238355')
print(data.foods[0].food.desc.name)

In [ ]:
data.foods[0].food.nutrients[0].__dict__

In [ ]:
for k in data.foods[0].food.nutrients:
    print(k.name," ",k.value)